In [1]:
import pandas as pd
import csv
import glob

In [2]:
filepaths = glob.glob('data/*.csv')

In [50]:
df = pd.DataFrame()

for file in filepaths:
    dataframe = pd.read_csv(file)
    if (len(dataframe.columns) == 15):
        dataframe.columns = ['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender']
        
    else:
        dataframe.columns = ['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID',
       'Localized Value', 'User Type', 'Birth Year', 'Gender']
        dataframe = dataframe.drop('Localized Value',1)
    
    df = df.append(dataframe, ignore_index=True, sort=False)

In [51]:
df.isnull().sum()

Trip Duration                  0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                    117
Birth Year                 24820
Gender                         0
dtype: int64

In [52]:
df = df.dropna(how='any').reset_index(drop=True)

In [61]:
df.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
Age                        float64
dtype: object

In [54]:
df['Age'] = 2018 - df['Birth Year']

In [70]:
df['Age'].nlargest(1000).value_counts()

87.0     432
77.0     315
74.0     108
131.0     69
130.0     35
76.0      21
118.0     16
95.0       3
79.0       1
Name: Age, dtype: int64